<div id="slidecontent">
    <div class="toc-list">
        <h1>Lava Functions</h1>
        <ul>
            <li><a href="">WhoAmI</a></li>
            <li><a href="">Parse JSON</a></li>
            <li><a href="" id="dialog">Dialog Test</a></li>
        </ul>
    </div>
    <div class="toc-list">
        <h1>Chart Functions</h1>
        <ul>
            <li><a href="">WhoAmI</a></li>
            <li><a href="">Parse JSON</a></li>
            <li><a href="" id="dialog">Dialog Test</a></li>
        </ul>
    </div>
    <div class="toc-list">
        <h1>Config Objects</h1>
        <ul>
            <li><a href="">WhoAmI</a></li>
            <li><a href="">Parse JSON</a></li>
            <li><a href="">Dialog Test</a></li>
        </ul>
    </div>
</div>
<div id="clickme"></div>